.app-container {
  font-family: sans-serif;
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

header {
  text-align: center;
  margin-bottom: 2rem;
}

footer {
  text-align: center;
  margin-top: 2rem;
  font-size: 0.8rem;
  color: #777;
}
